@use "../../styles/mixins.scss" as *;
@use "../../../styles.scss" as *;

header {
  @include standard-flex(space-around, center);
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  h1 {
    font-weight: bold;
  }
  .menu {
    @include standard-flex(space-between, center);
    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      input {
        width: 90%;
        padding: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 12px;
        font-family: "Inter";
        font-size: 1.5rem;
        outline: none;
      }
      .border {
        width: 4rem;
        height: 2.5rem;
        @include standard-flex(space-between, center);
        border-left: 3px solid #29abe2;
        right: 0px;
        position: absolute;
        //  position: absolute;
        img {
          top: 50%;
          right: 10%;
          cursor: pointer;
        }
      }
    }
    button {
      @include standardButton();
      padding: 0.4rem 1rem;
      background-color: $standardColor;
      color: white;
      width: 14rem;
      gap: 4px;

      &:hover {
        cursor: pointer;
        background-color: $customBlue;
        filter: drop-shadow(2px 2px 2px rgba($color: #000000, $alpha: 0.2));
      }
    }
  }
}
.collection {
  @include standard-flex(flex-start, center);
  align-items: flex-start;
  // width: 100%;
  height: auto;
  gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  .single-collection {
    @include standard-flex(space-between, center);
    flex-direction: column;
    padding-bottom: 2rem;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    & :hover {
      cursor: pointer;
    }
    h2 {
      font-weight: bold;
      font-size: 0.8rem;
    }
    img {
      cursor: pointer;
    }
    .add-task {
      @include standard-flex(space-between, center);
      width: 18rem;
      margin-bottom: 2rem;
    }
    .no-task {
      background-image: url(../../../assets/img/Board/TodoNo.png);
      background-size: 100%;
      width: 15rem;
      height: 3.1rem;
    }
    .info-task {
      @include standard-flex(flex-start, flex-start);
      flex-direction: column;
      background-color: white;
      border-radius: 0.5rem;
      line-height: 80%;
      line-break: normal;
      // width: 100%;
      padding: 1rem;
      margin-bottom: 2rem;

      .category {
        width: 8rem;
        @include standard-flex(flex-start, flex-start);
        background-color: #1fd7c1;
        color: white;
        border-radius: 0.5rem;
        text-align: start;
        padding: 4px 1rem 4px 1rem;
        border-bottom: 4rem;
      }
      .user-story-bg {
        background-color: #0038ff !important;
      }
      .description {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        line-height: 80%;
        line-break: normal;
        h3 {
          font-weight: bold;
        }
        p {
          text-overflow: ellipsis;
          color: #979191;
          font-size: 1rem;
        }
      }

      .progress {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
      .contacts-for-tag {
        @include standard-flex(space-between, center);
        width: 100%;
        position: relative;
        .initials-circle {
          position: absolute;
          bottom: 0rem;
          left: 0rem;
          width: 3rem;
          height: 3rem;
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              left: #{($i - 1) * 2}rem;
            }
          }

          // &:nth-child(1) {
          //   left: 1rem;
          // }
        }
        .prioprie {
          width: 100%;
          @include standard-flex(flex-end, flex-end);
        }
      }
      .contact-icons {
        @include standard-flex(center, center);
        width: 3rem;
        height: 3rem;
      }
    }
    .about {
      @include standard-flex(center, center);
    }
  }
}
// .in-proggress-collection {
//   @include standard-flex(space-between, center);
//   flex-direction: column;
//   padding-bottom: 2rem;
//   width: 25%;
//   h2 {
//     font-weight: bold;
//   }
//   img {
//     cursor: pointer;
//   }
//   .info-task {
//     @include standard-flex(center, center);
//     flex-direction: column;
//     background-color: white;
//     border-radius: 3rem;
//     overflow: auto;
//     line-height: 80%;
//     line-break: normal;
//     .contact-icons {
//       @include standard-flex(center, center);
//       .initials-circle {
//         @include standard-flex(center, center);
//         width: 3rem;
//         height: 3rem;
//       }
//     }
//   }
// }

.drop-area {
  min-height: 50vh;
  min-width: 10%;
  background-image: url(../../../assets/img/Board/TodoNo.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;

  // background-color: #1fd7c1;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
