<main>
    <header>
        <h1>Board</h1>
        <div class="menu">
            <div class="input-container">
                <input type="Find Task">
                <div class="border">
                    <img src="../../../assets/img/Board/search.png" alt="">
                </div>
            </div>
            <button (click)="openAddTaskDialog()">Add task +</button>

        </div>
    </header>
    <div cdkDropListGroup class="collection">

        <div class="single-collection">
            <div class="add-task">
                <h2>To do</h2>
                <img src="../../../assets/img/Board/addTask.png" alt="">
            </div>
            <div id="todo" cdkDropList [cdkDropListData]="data.todo" class="drop-area"(cdkDropListDropped)="drop($event)">
                @for (task of data.todo; track $index) {
                <div class="info-task" (click)="openEditDialog(task.id)" cdkDrag>

                    <div class="category">
                        {{task.category}}
                    </div>
                    <div class="description">
                        <h3>{{task.title}}</h3>
                        <p>{{task.description}}</p>
                    </div>
                    <div class="progress">
                        @for (subtask of task.subtasks; track $index) {
                            {{subtask.subtaskDone}}
                            {{subtask.subtaskName}}
                        }
                    </div>

                    <div class="contacts-for-tag">
                        @for (taskContact of task.contacts; track $index) {
                            @for (contact of contacts; track $index) {
                                @if (taskContact == contact.id) {
                                <div class="initials-circle bg-{{contact.styleSelector}}">
                                    {{contact.initials}}
                                </div>
                                }
                            }
                        }
                        <div class="prioprie">
                            <img src="{{getPrioImagePath(task.priority, true)}}" alt="{{task.priority}} icon">

                        </div>


                    </div>
                </div>
                }
            </div>
        </div>
        <div class="single-collection">
            <div class="add-task">
                <h2>In Progress</h2>
                <img src="../../../assets/img/Board/addTask.png" alt="">
            </div>
            <div id="inProgress" cdkDropList [cdkDropListData]="data.inProgress" class="drop-area"(cdkDropListDropped)="drop($event)">
                @for (task of data.inProgress; track $index) {
                <div class="info-task" (click)="openEditDialog(task.id)" cdkDrag>

                    <div class="category">
                        {{task.category}}
                    </div>
                    <div class="description">
                        <h3>{{task.title}}</h3>
                        <p>{{task.description}}</p>
                    </div>
                    <div class="progress">
                        @for (subtask of task.subtasks; track $index) {
                            {{subtask.subtaskDone}}
                            {{subtask.subtaskName}}
                        }
                    </div>

                    <div class="contacts-for-tag">
                        @for (taskContact of task.contacts; track $index) {
                            @for (contact of contacts; track $index) {
                                @if (taskContact == contact.id) {
                                <div class="initials-circle bg-{{contact.styleSelector}}">
                                    {{contact.initials}}
                                </div>
                                }
                            }
                        }
                        <div class="prioprie">
                            <img src="{{getPrioImagePath(task.priority, true)}}" alt="{{task.priority}} icon">

                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="single-collection">
            <div class="add-task">
                <h2>Await Feedback</h2>
                <img src="../../../assets/img/Board/addTask.png" alt="">
            </div>
            <div id="awaitFeedback" cdkDropList [cdkDropListData]="data.awaitFeedback" class="drop-area"(cdkDropListDropped)="drop($event)">
                @for (task of data.awaitFeedback; track $index) {
                <div class="info-task" (click)="openEditDialog(task.id)" cdkDrag>

                    <div class="category">
                        {{task.category}}
                    </div>
                    <div class="description">
                        <h3>{{task.title}}</h3>
                        <p>{{task.description}}</p>
                    </div>
                    <div class="progress">
                        @for (subtask of task.subtasks; track $index) {
                            {{subtask.subtaskDone}}
                            {{subtask.subtaskName}}
                        }
                    </div>

                    <div class="contacts-for-tag">
                        @for (taskContact of task.contacts; track $index) {
                            @for (contact of contacts; track $index) {
                                @if (taskContact == contact.id) {
                                <div class="initials-circle bg-{{contact.styleSelector}}">
                                    {{contact.initials}}
                                </div>
                                }
                            }
                        }
                        <div class="prioprie">
                            <img src="{{getPrioImagePath(task.priority, true)}}" alt="{{task.priority}} icon">

                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="single-collection">
            <div class="add-task">
                <h2>Done</h2>
                <img src="../../../assets/img/Board/addTask.png" alt="">
            </div>
            <div id="done" cdkDropList [cdkDropListData]="data.done" class="drop-area"(cdkDropListDropped)="drop($event)">
                @for (task of data.done; track $index) {
                <div class="info-task" (click)="openEditDialog(task.id)" cdkDrag>

                    <div class="category">
                        {{task.category}}
                    </div>
                    <div class="description">
                        <h3>{{task.title}}</h3>
                        <p>{{task.description}}</p>
                    </div>
                    <div class="progress">
                        @for (subtask of task.subtasks; track $index) {
                            {{subtask.subtaskDone}}
                            {{subtask.subtaskName}}
                        }
                    </div>

                    <div class="contacts-for-tag">
                        @for (taskContact of task.contacts; track $index) {
                            @for (contact of contacts; track $index) {
                                @if (taskContact == contact.id) {
                                <div class="initials-circle bg-{{contact.styleSelector}}">
                                    {{contact.initials}}
                                </div>
                                }
                            }
                        }
                        <div class="prioprie">
                            <img src="{{getPrioImagePath(task.priority, true)}}" alt="{{task.priority}} icon">

                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

</main>