<main>
    <header>
        <h1>Board</h1>
        <div class="menu">
            <div class="input-container">
                <input type="Find Task">
                <div class="border">
                    <img src="../../../assets/img/Board/search.png" alt="">
                </div>
            </div>
            <!-- <button (click)="openEditDialog(task.id)">Add task +</button> -->
        </div>
    </header>
    <div class="collection">    
       
        <div class="to-do-collection">
            <h2>To do</h2>
            <div class="add-task" >
                <img src="../../../assets/img/Board/addTask.png" alt="">
            </div>
            @for (task of tasks; track $index) {
                @if (task.status == "todo") {
            <div class="info-task" (click)="openEditDialog(task.id)">

                <div class="category">
                    {{task.category}}
                </div>
                <div class="description">
                    <h3>{{task.title}}</h3>
                    <p>{{task.description}}</p>
                </div>
                <div class="progress">
                    @for (subtask of task.subtasks; track $index) {
                    {{subtask.subtaskDone}}
                    {{subtask.subtaskName}}
                    }
                </div>
                
                <div class="contacts-for-tag">
                    @for (taskContact of task.contacts; track $index) {
                        @for (contact of contacts; track $index) {
                            @if (taskContact == contact.id) {
                                <div class="initials-circle bg-{{contact.styleSelector}}">
                                    {{contact.initials}}                            
                                </div>
                            }
                        }
                    }
                    
                    <!-- <div class=" .initials-circle">{{task.contact.id}}</div> -->


                        {{task.priority}}
                    
                </div>
            </div>
        }
        }
        </div>

        <div class="in-proggress-collection">
            
            <h2>In Progress</h2>
            @for (task of tasks; track $index) {
            
            <div (click)="openEditDialog(task.id)">
                <img src="../../../assets/img/Board/addTask.png" alt="">
            </div>

            <div class="info-task">
                <div>
                    {{task.category}}
                </div>
                <div>
                    {{task.title}}
                    {{task.description}}
                </div>
                <div>
                    @for (subtask of task.subtasks; track $index) {
                    {{subtask.subtaskDone}}
                    {{subtask.subtaskName}}
                    }
                </div>
                <div>
                    {{task.contacts}}
                    {{task.priority}}
                </div>
            </div>
            }
        </div>

 
    </div>

</main>