<!-- <section class="contacts">
    <div class="contactsLeft">
        <button>Add new contact <img src="./../../../assets/img/contacts/person_add.png" alt="person_add"></button>
        <div class="contactList">
            @for (contact of contactsFromList; track $index) {
                <div class="contactSmallInfo">
                    <p>XY</p>
                    <div>
                        <h3>{{ contact.name }}</h3>
                        <p>{{ contact.eMail }}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section> -->

<section class="contacts">
  <div class="contactsLeft">
    <button>
      Add new contact <img src="./../../../assets/img/contacts/person_add.png" alt="person_add">
    </button>
    <div class="contactList">
      <h1>test1</h1>
      @for (item of groupedContacts; track $index) {
        <h1>test2</h1>
        <h2>{{ item.letter }}</h2> 
        <ul>
          @for (contact of item.contacts; track $index) {
            <li>{{ contact.name }}</li>
          }
        </ul>
      }
    </div>
  </div>
</section>