@import '../../../styles/mixins.scss';
@import '../../../../styles.scss';

.contacts{
    width: 85%;
    background-color: white;
}

.contactsLeft {
    padding: 1rem 0 0 0;
    padding-right: 0.25rem;
    >button{
        margin: 1rem auto;
        padding: 0.5rem 3rem;
        gap: 1rem;
        border: 0;
        border-radius: 0.5rem;
        @include standard-flex(center, center);
        font-size: 1rem;
        font-family: 'Inter';
        color: white;
        align-self: center;
        text-align: center;
        background-color: rgba(42, 54, 71, 1);
        >img {
            height: 1.5rem;
            aspect-ratio: 1 / 1;
        }
        &:hover {
            cursor: pointer;
            background-color: rgb(41,171,226);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
        }
    }
}

.contactList {
    max-height: calc(100vh - 13rem);
    overflow: auto;
    >h2 {
        text-transform: uppercase;
        padding: 1rem 4rem;
        margin: 0;
    }
    &::-webkit-scrollbar {
        width: 0.4rem;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 4px;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgb(168,168,168);
        border-radius: 10px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
      }
}

.separationLine {
    border: solid 1px rgb(209,209,209);
    width: 90%;
    margin: 0 4%;
}

.contactListPerLetter {
    padding: 0 3rem;
}

.contactSmallInfo {
    list-style-type: none;
    @include standard-flex(flex-start, center);
    background-color: white;
    margin:  0;
    >.initials-circle {
        width: 3.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        // padding: 0.75rem;
        // margin: 1rem;
        // border-radius: 50%;
        // color: white;
        // background-color: rgb(0, 110, 255);
    }
    &:hover {
        cursor: pointer;
        background-image: linear-gradient(rgb(249,249,249), rgb(241,241,241));
        border-radius: 1rem;
    }
    &:focus {
        background-color: rgb(42,54,71);
        border-radius: 1rem;
    }
}

.contactName {
    font-size: 1rem;
    font-family: 'Inter';
}

.contactMail {
    text-decoration: none;
    color: rgb(0,124,238);
}