<section class="contacts">
  <div class="contactsLeft">
    <button (click)="addContact()">
      Add new contact <img src="./../../../assets/img/contacts/person_add.png" alt="person_add">
    </button>
    <button class="addContactSmall" (click)="addContact()">
      <img src="./../../../assets/img/contacts/person_add.png" alt="person_add">
    </button>
    <div class="contactList">
      @for (item of groupedContacts; track $index) {
        <h2>{{ item.letter }}</h2> 
        <div class="separationLine"></div>
        <ul class="contactListPerLetter">
          @for (contact of item.contacts; track $index) {
            <li class="contactSmallInfo" (click)="selectContact(contact.id!)">
              <div class="initials-circle bg_{{ contact.styleSelector }}">{{ contact.initials }}</div>
              <div>
                <p class="contactName">{{ contact.name }}</p>
                <p class="contactMail">{{ contact.eMail }}</p>
              </div>
            </li>
          }
        </ul>
      }
    </div>
  </div>
</section>