@use "../../../styles/mixins.scss" as *;




main {
  margin-top: 
  1.5rem;
  width: 100%;
  // height: 15rem;
  @include standard-flex(flex-start, start);
  flex-direction: column;
  gap: 2rem;
  @media (max-width: 800px) {
    font-size: 12px;
    height:776px;
  }
  .headline{
    @include standard-flex(space-between, center);
    img{display: none;}
    @media (max-width: 800px) {
           font-size: 12px;
           img{display: flex};
      @include standard-flex(space-between, flex-start);
      flex-direction: row;
      gap: 9rem;
      // .line{display: none;}
      // .lineI { display: flex;
      //   border-top: 3px solid #29abe2;
      //   width: 5.5rem;
      // }
      // img{
      //   display:flex;}
      
    }
  }


  .headlineI {
    @include standard-flex(space-between, center);
    flex-direction: row;
    gap: 1rem;
    img{
      display: none;
    }
    .lineI{
      display: none;
    }
    span {
      font-size: 2rem;
    }
    p {
      font-size: 5px;
    }
    .line {
      border-left: 3px solid #29abe2;
      height: 3.5rem;
    }
    @media (max-width: 987px) {
      font-size: 10px;
      h1{
        margin: 0 0 2px;
        font-size: 47px !important;
        font-weight: bold;
      }
      h2 {
        margin: 0 0 2px;
        font-size: 22px !important;
      }
    
    }
    @media (max-width:915px) {
      font-size: 14px;
    }

    @media (max-width: 799px){
  @include standard-flex(space-between, flex-start);
      flex-direction: column;
      .line{display: none;}
      .lineI { display: flex;
        border-top: 3px solid #29abe2;
        width: 5.5rem;
      }
      img{
        display:flex;}
    }
  
  }
  .contact-floating {
    @include standard-flex(start);
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 1rem;
    @media(max-width:799px){
      gap: 0.5rem;
    }
    .nameIcon {
      @include standard-flex(flex-start, center);
      flex-direction: row;
      width: 100%;
      gap: 2rem;
      .initials-circle {
        width: 8rem !important;
        height: 8rem !important;
        font-size: 3.5rem !important;
        @media(max-width: 1200px){
          word-break: break-all;
        }
        @media(max-width: 799px) {
          width: 5rem !important;
          height: 5rem !important;
          font-size: 2rem !important;
        }
      }
      p {
        font-weight:normal;
        @include standard-flex(space-between, center);
      }
      @media(max-width: 1200px){
        p{ word-break: break-all;}
      }
    }
   
    .contactField {
      @include standard-flex(space-between, start);
      flex-direction: column;
      height: 8, 5rem;
      
      .info {
        @include standard-flex(space-between, start);
    
        p {
          line-height: 80%;
          line-break: normal;
          font-size: 32px;
          @include standard-flex(space-between, start);
          @media (max-width: 1210px){
              font-size: 28px;
          }
          @media (max-width:993px){
              font-size: 18px;
          }
          @media (max-width: 799px) {
            font-size: 26px;
            font-weight: bold;
            line-height: 80%;
            line-break: normal;
          }
        }
      }
      .imagesForContact {
        width: 10rem;
        height: 2.2rem;
        @include standard-flex(space-between, start);
        flex-direction: row;
        @media (max-width:800px){
            display: none;
        }
      
        > div {
          @include standard-flex($jc: flex-start, $ai: flex-center);
          font-family: inter;
          width: 4rem;
          height: 2rem;
          gap: 0, 5rem;
          &:hover {
            cursor: pointer;
            color: rgb(0, 124, 238);
          }
     
        }
        > div {
          @include standard-flex($jc: flex-start, $ai: center);
          width: 5rem;
          height: 2rem;
          gap: 0, 5rem;
        }
     
      }
    }
    .data {
      h3{
        font-size: 1rem;
        font-weight: bold;
      }
      p {
        font-weight: bold;
      }
      .email {
        color: #29abe2;
        cursor: pointer;
      }
    }
    .editForMobile{
      bottom: 1rem;
      right:1rem;
      position: absolute;
      img{
        display: none;
      }
     
      @include standard-flex(flex-end, flex-end);
      @media(max-width:799px){
        img{
  
          display: flex;
          cursor: pointer;
        }

      }
      .editButtom{
        position: absolute;
        top: 0;
        right: -12rem;
        transition: right 0.5s ease; 
        @include standard-flex();
        flex-direction: column;
        gap:1.5rem;
        width: 9.5rem;
        height: 9.5rem;
        border-radius: 2rem;
        background-color: white;

        &.show {
          right: -2rem;
      }
        
        img {
          size: 1.5rem 1.5rem;}
          >div{
            @include standard-flex();
            font-size: 1rem;
            gap: 0.5rem;

            &:hover {
              cursor: pointer;
            }
          }

          
      }

    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .overlay-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      min-width: 300px;
    }
  }
 
}

.edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #29abe2;
  z-index: 1000;
}