@use "../../../styles/mixins.scss" as *;
@use "../../../../styles.scss" as *;

main {
  padding: 6rem 6rem 3rem 2rem;
  @include standard-flex(flex-start, start);
  flex-direction: column;
  gap: 6rem;
  width: 94%;
  @media (max-width: 800px) {
    font-size: 12px;
    height: calc(100vh - 14rem);
    overflow: scroll;
    padding: 4rem 4rem 0 4rem;
    font-size: 12px;
    gap: 3rem;
  }
  @media (max-width: 550px) {
    padding: 2rem 2rem 0 2rem;
  }

  .headline-content {
    @include standard-flex(space-between, center);
    width: 100%;
    h1 {
      word-break: keep-all;
    }
    h2 {
      word-break: break-word;
      @media (max-width: 1300px) {
        font-size: 2rem;
        padding-right: 1rem;
      }
    }
    .go-back {
      display: none;
    }

    @media (max-width: 800px) {
      .go-back {
        margin-right: 1rem;
        display: block;
        &:hover {
          cursor: pointer;
        }
      }
      @include standard-flex(space-between, flex-start);
      flex-direction: row;
    }
  }

  .headline {
    @include standard-flex(space-between, center);
    flex-direction: row;
    gap: 1rem;
    img {
      display: none;
    }
    .second-line {
      display: none;
    }
    span {
      font-size: 2rem;
    }
    p {
      font-size: 5px;
    }
    .first-line {
      border-left: 3px solid #29abe2;
      height: 3.5rem;
    }
    @media (max-width: 987px) {
      font-size: 10px;
      h1 {
        margin: 0 0 2px;
        font-size: 47px !important;
        font-weight: bold;
      }
      h2 {
        margin: 0 0 2px;
        font-size: 22px !important;
      }
    }
    @media (max-width: 915px) {
      font-size: 14px;
    }
    @media (max-width: 799px) {
      @include standard-flex(space-between, flex-start);
      flex-direction: column;
      .first-line {
        display: none;
      }
      .second-line {
        display: flex;
        border-top: 3px solid #29abe2;
        width: 12rem;
      }
      img {
        display: flex;
      }
    }
  }

  .contact-floating {
    @include standard-flex(start,flex-start);
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 1rem;
    @media (max-width: 799px) {
      gap: 0.5rem;
    }

    .name-icon {
      @include standard-flex(flex-start, center);
      flex-direction: row;
      width: 100%;
      gap: 2rem;
      margin-bottom: 2rem;

      h2{
        margin-top: 2rem !important;
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }

      .initials-circle {
        width: 8rem !important;
        height: 8rem !important;
        font-size: 3.5rem !important;
        @media (max-width: 1200px) {
          word-break: break-word;
        }
        @media (max-width: 799px) {
          width: 6rem !important;
          height: 6rem !important;
          font-size: 2rem !important;
        }
        @media (max-width: 400px) {
          width: 5rem !important;
          height: 5rem !important;
        }
      }
      p {
        font-weight: normal;
        @include standard-flex(space-between, center);
      }
      @media (max-width: 1200px) {
        p {
          word-break: break-word;
        }
      }
      @media (max-width: 800px) {
        margin-bottom: 0;
        gap: 1rem;
      }
    }
    @media (max-width: 799px) {
      h2 {
        margin: 1rem 0;
      }
    }
    @media (max-width: 450px) {
      h2 {
        font-size: 2rem;
      }
    }
    @media (max-width: 350px) {
      h2 {
        font-size: 1.6rem;
      }
    }

    .contact-field {
      @include standard-flex(space-between, start);
      flex-direction: column;
      .info {
        @include standard-flex(space-between, start);
       
        .contact-name {
          margin: 0;
          padding-right: 1rem;
          line-height: 80%;
          line-break: normal;
          font-size: 3rem;
          font-weight: bold;          
          @include standard-flex(space-between, start);
          @media (max-width: 1210px) {
            font-size: 28px;
          }
          @media (max-width: 993px) {
            font-size: 18px;
          }
          @media (max-width: 799px) {
            font-size: 26px;
            font-weight: bold;
            line-height: 100%;
            line-break: normal;
          }
        }
      }

      .images-for-contact {
        margin-top: 1rem;
        width: 10rem;
        height: 2.2rem;
        @include standard-flex(space-between, start);
        flex-direction: row;
        @media (max-width: 800px) {
          display: none;
        }
        > div {
          @include standard-flex($jc: flex-start, $ai: center);
          font-family: "inter";
          width: 4rem;
          height: 2rem;
          &:hover {
            cursor: pointer;
            color: rgb(0, 124, 238);
          }
        }
        > div {
          @include standard-flex($jc: flex-start, $ai: center);
          width: 5rem;
          height: 2rem;
        }
      }
    }

    .data {
      @include standard-flex(flex-start,flex-start);
      flex-direction: column;
      margin-top: 2rem;
      h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;
      }
      p {
        font-size: 2rem;
      }
      .email {
        margin-bottom: 3rem;
        color: #29abe2;
        cursor: pointer;
      }
      row-gap:0.5rem;
      @media (max-width: 400px) {
        p {
          font-size: 1.5rem;
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .overlay-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      min-width: 300px;
    }
  }
}

.mobile-content {
  display: none;
  width: 100%;
  .edit-for-mobile {
    > .edit-menu {
      display: none;
    }
    @include standard-flex(flex-end, flex-end);
    @media (max-width: 799px) {
      .edit-menu {
        bottom: 3px;
        position: absolute;
        display: flex;
        align-self: flex-end;
        cursor: pointer;
        bottom: 2rem;
        right: 2rem;
      }
    }
  }
  @media (max-width: 799px) {
    display: block;
  }
}

@media (max-width: 799px) {
  .edit-menu {
    position: absolute;
    display: block;
    cursor: pointer;
    bottom: 4px;
    right: 3rem;
  }
}

.edit-buttom {
  display: none;
  position: absolute;
  bottom: 4px;
  right: -12rem;
  transition: right 0.5s ease;
  @include standard-flex();
  flex-direction: column;
  gap: 1.5rem;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 2rem;
  background-color: white;

  &.show {
    display: flex;
    right: 2rem;
    bottom: 4px;
  }

  img {
    size: 1.5rem 1.5rem;
  }

  > div {
    @include standard-flex();
    font-size: 1rem;
    gap: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #29abe2;
  z-index: 1000;
}
