<main>
    <div class="headline-content">
        <div class="headline">
            <h1>Contacts</h1>
            <div class="first-line"></div>
            <h2>Better with a team</h2>
            <div class="second-line"></div>
        </div>

        <img class="go-back" (click)="toggleSlideList()" src="./assets/img/contacts/contact-mobile/arrowLeftLine.png" alt="go back arrow">

    </div>
    @for (contact of contactsFromList; track $index) {
        @if (contact.id === watchTarget) {

        <div class="contact-floating">
            <div class="name-icon">
                <div class="initials-circle bg-{{contact.styleSelector}}">
                    {{contact.initials}}
                </div>
                <div class="contact-field">
                    <div class="info">
                        <p class="contact-name"> {{contact.name}}</p>
                    </div>
                    <div class="images-for-contact">
                        <div (click)="editData (contact.id)"><img src="./assets/img/editIcon.png" alt="">Edit
                        </div>
                        <div (click)="deleteData (contact.id)"> <img src="./assets/img/trash.png" alt="">Delete
                        </div>
                    </div>
                </div>
            </div>
            <h2>Contact Information</h2>
            <div class="data">
                <h3>Email</h3>
                <p class="email"><a href="mailto:{{contact.eMail}}">{{contact.eMail}}</a></p>
                <h3>Phone</h3>
                <p class="phone-number">{{contact.phone}}</p>
            </div>
        </div>
        <div class="mobile-content">
            <div class="edit-for-mobile">
                <img class="edit-menu" (click)="toggleEditMenu($event)" src="./assets/img/contacts/contact-mobile/menuContactOptions.png" alt="">

                <div class="edit-buttom" [ngClass]="{ 'show': isEditMenuOpen }">
                    <div (click)="editData (contact.id)"><img src="./assets/img/editIcon.png" alt="">Edit
                    </div>
                    <div (click)="deleteData (contact.id)"> <img src="./assets/img/trash.png" alt="">Delete
                    </div>
                </div>
            </div>
        </div>
        }
    }

</main>