<main>

    <div class="headline">
        <h1>Contacts</h1>
        <div class="line"></div>
        <span>Better with a team</span>
    </div>

    <div class="contact-floating">
        <div class="nameIcon">
            <div class="initials-circle">

                <p>{{openContact.openedContact[0].initials}}</p>
                
                
            </div>
            <div class="contactField">
                
                <div class="info">
                    <p> {{openContact.openedContact[0].name}}</p>
                   
                </div>
                
                <div class="imagesForContact">
                    <div (click)="editData (contactsFromList[0].id)"><img src="../../../../assets/img/editIcon.png"
                        alt="">Edit
                    </div>
                    <div (click)="deleteData (contactsFromList[0].id)"> <img src="../../../../assets/img/trash.png"
                        alt="">Delete
                    </div>
                </div>
                
            </div>
        </div>
        
        <p>Contact Information</p>
        
        <div class="data">
            <!-- <p>Name: {{openContact.openedContact[0].name}}</p> test für service -->

            <p>Email</p>
            <p class="email"> {{openContact.openedContact[0].eMail}}</p>


            <p>Phone</p>
            <p>     {{openContact.openedContact[0].phone}}</p>

        </div>
      
       
         <!-- {{openContact.openedContact[0].id}} -->
      
    </div>
</main>