@import '../../styles/mixins.scss';
@import '../../../styles.scss';

.d-none {
    display: none;
}

.add-task {
    padding: 6rem 6rem 3rem 4rem;
    font-family: 'inter';
    .left-side {
        margin-right: 2rem;
        align-self: start;
    }
    .separation-line {
        border: solid 1px rgb(212, 212, 212);
        height: 25rem;
    }
    .right-side {
        margin-left: 2rem;
        align-self: start;
    }
    >h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0 0 4rem 0;
    }
    p {
        font-size: 1.2rem;
        margin: 2rem 0 0.5rem 0;
    }
    input, select, textarea {
        border: solid 1px rgb(212, 212, 212);
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        min-width: 26rem;
        height: 2rem;
    }
    select {
        min-width: 27rem;
        max-width: 25rem;
    }
    textarea {
        min-height: 6rem;
        padding: 0.25rem 1rem;
        max-width: 25rem;
    }
    button {
        min-width: calc(10rem / 3);
    }
    .required {
        font-size: 1rem;
    }
    .red-star {
        color: red;
    }
    .task-inputs {
        @include standard-flex(space-around, center)
    }

    input,
    textarea {
        padding: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 12px;
        font-family: 'Inter';
        font-size: 1rem;
        outline: none;
        cursor: text;

        &:focus {
            border: 1px solid rgb(93,190,231);
        }
    }

    #task-category {
        height: 3rem;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 12px;
        font-family: 'Inter';
        font-size: 1rem;
        outline: none;
        cursor: text;

        &:focus {
            border: 1px solid rgb(93,190,231);
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    
    .dropdown-input {
        width: 26rem;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 0.5rem;
        cursor: text !important;
    }
    
    .dropdown-content {
        position: absolute;
        background-color: white;
        width: 100%;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 10px;
        border: 1px solid #ddd;
        max-height: 200px;
        overflow-y: auto;
    
    
    
        >label {
            display: block;
            padding: 5px;
            cursor: pointer;
            @include standard-flex(space-between);
    
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
    
            .initials-circle {
                width: 2rem;
                height: 2rem;
                font-size: 1rem;
            }
        }
    }    

    .active-background {
        background-color: rgb(255,168,0);
    }

    .choose-priority {
        >.prio-buttons {
            @include standard-flex(space-between, center);
            >button {
                width: 30%;
                height: 3.5rem;
                border: none;
                border-radius: 0.5rem;
                box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                }
            }
        }
    }






    .input-container {
        position: relative;
        width: 250px;
    }

    .input-container {
        img {
            position: absolute;
            right: -11rem;
            top: 54%;
            transform: translateY(-50%);
            border: none;
            color: white;
            background-color: #00000000;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
                background-color: rgb(229,229,229);
                border-radius: 50%;
            }
        }
        .vertical-line {
            position: absolute;
            right: -9.375rem;
            top: 54%;
            transform: translateY(-50%);
            min-height: 1.2rem;
            width: 1px;
            margin: 0 2px;
            background-color: rgb(212, 212, 212);
        }
        .clear-btn {
            right: -9rem;
        }
    }
    .subtask-list ul {
        .single-subtask {
            position: relative;
            padding: 0.25rem;
            &:hover {
                background-color: rgb(186, 185, 185);
                border-radius: 0.4rem;
            }
        }
    }

    .lowest-section {
        @include standard-flex(space-between, center);
        .clear-or-create-buttons {
            gap: 1rem;
            @include standard-flex(center, center);
            >button {
                @include standard-flex(center, center);
                gap: 0.5rem;
                width: fit-content;
                height: 3.5rem;
                border: solid 2px rgba(93, 190, 231, 0);;
                border-radius: 0.5rem;
                box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                    color: rgb(93,190,231);
                    border: solid 2px rgb(93,190,231);;
                }
                >.close-x {
                    font-family: 'inter';
                    font-size: 1.7rem;
                }
            }
            >.create-btn {
                color: white;
                background-color: rgb(42,54,71);
                transition: background-color 0.25s;
                &:hover {
                    color: white;
                    background-color: rgb(93,190,231);
                }
            }
        }
    }
}