@use './styles/mixins.scss' as *;

$headHeight: 7rem;
$headBorderHeight: 6px;

main {
    margin: 0;
    display: flex;



    >nav {
        width: 16%;
        height: 100vh;
        background-color: #2A3647;
        @include standard-flex(space-between, center);
        flex-direction: column;

        >img {
            margin-top: 3rem;
            width: 8rem;
        }

        >ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            width: 100%;

            >li {
                @include standard-flex(start);
                cursor: pointer;
                color: white;
                height: 4rem;
                padding-left: 2rem;

                &:hover {
                    background-color: #2A3D59;
                }

                >img {
                    width: 2rem;
                    margin-right: 1rem;
                }
            }
        }

        >div {
            margin-bottom: 3rem;
            @include standard-flex();
            flex-direction: column;
            gap: 1rem;
            font-size: 1rem;


            >a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: #29abe2;
                }
            }
        }


    }

    >section {
        flex: 1;

        .top-content {
            @include standard-flex(space-between);
            height: $headHeight;
            border-bottom: $headBorderHeight solid rgba($color: #000000, $alpha: 0.2);

            >span {
                margin-left: 10rem;
                font-size: 2rem;
            }

            >div {
                @include standard-flex();
                gap: 1rem;

                >img {
                    border-radius: 100%;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba($color: #000000, $alpha: 0.1);
                    }
                }

                >div {
                    border: 2px solid #2A3647;
                    font-size: 1.5rem;
                    font-weight: bold;
                    border-radius: 100%;
                    width: 3rem;
                    aspect-ratio: 1;
                    color: #29abe2;
                    @include standard-flex();
                    margin-right: 2rem;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba($color: #000000, $alpha: 0.1);

                    }
                }
            }
        }

        .routing-content {
            background-color: rgba($color: #000000, $alpha: 0.1);
            height: calc(100% - $headHeight - $headBorderHeight);
        }
    }
}