<main>
  <nav>
    <img src="./assets/Viscora.png" alt="Join-Logo">
    <ul>
      <li routerLink="summary"><img src="./assets/plus.png" alt=""> Summary</li>
      <li routerLink="board"><img src="./assets/plus.png" alt=""> Board</li>
      <li routerLink="add-task"><img src="./assets/plus.png" alt=""> Add Task</li>
      <li routerLink="contacts"><img src="./assets/plus.png" alt=""> Contacts</li>
    </ul>
    <div>
      <button class="Info Button">?</button>
      Legal Notice
    </div>
     
  </nav>
  <section>
    <div class="top-content">
      <span>Kanban Project Management Tool</span>
      <div>
        <button class="Info Button">?</button>
        <img src="" alt="Profile Picture">
      </div>
    </div>
    <div class="routing-content">
      <router-outlet></router-outlet>
    </div>
    
  </section>
</main>