<main>
    @if (!editView) {

    <div class="close-container" (click)="close()">
        <img src="./assets/img/icons/CloseIcon.png">
    </div>
    
    <section class="main-content">
        <div class="story-container" [ngClass]="{'user-story-bg':isUserStory}">{{task.category}}</div>
        <h1 class="ml-2">{{task.title}}</h1>
        <p class="ml-2">{{task.description}}</p>
        <p class="ml-2">Due date: {{task.date}}</p>
        <div class="prio-container ml-2">
            <span>Priority: </span>
            <div>
                <span>{{task.priority}}</span>
                <img src="{{getPrioImagePath(task.priority, true)}}" alt="{{task.priority}} icon">
            </div>

        </div>
        <ul>
            Assigned to:

            @for (assignedContact of task.contacts; track $index) {
                @for (contact of contacts; track $index) {
                    @if (assignedContact == contact.id) {
                    <div class="ml-2">
                        <div class="initials-circle bg-{{contact.styleSelector}}">
                            {{contact.initials}}
                        </div>
                        <span>{{contact.name}}</span>
                    </div>
                    }
                }
            }

        </ul>

        <ul class="checklist">
            Subtask:

            @for (subtask of task.subtasks; track $index) {
            <div>

                <input type="checkbox" (change)="toggleSubtaskDone(subtask)" [checked]="subtask.subtaskDone">
                {{subtask.subtaskName}}
            </div>
            }
        </ul>
    </section>

    <div class="interaction-container">
        <div class="interaction-button" (click)="deleteTask()"> <img src="./assets/img/trash.png" alt="">Delete</div>
        <div class="line"></div>
        <div class="interaction-button" (click)="toggleEditMode()"><img src="./assets/img/editIcon.png" alt="">Edit
        </div>
    </div>
    } @else {
    <div class="top">
        <div class="close-container" (click)="close()">
            <img src="./assets/img/icons/CloseIcon.png">
        </div>
    </div>
    <section class="edit-content">
        <div>
            <p>Title</p>
            <input class="full-width" [(ngModel)]="previewTask.title" type="text" id="title" name="title"
                placeholder="title" required>
        </div>
        <div>
            <p>Description</p>
            <textarea class="full-width" [(ngModel)]="previewTask.description" name="task-description"
                id="task-description" placeholder="Enter a Description"></textarea>
        </div>
        <div class="due-date">
            <p>Due date</p>
            <input class="full-width" #date="ngModel"[attr.min]="today" [(ngModel)]="previewTask.date" type="date" name="date" id="date">
        </div>
        <div class="choose-priority">
            <p>Priority</p>
            <div class="prio-buttons full-width">
                <button (click)="changePriority('Urgent')" [class.active]="isPriorityActive('Urgent')">
                    Urgent
                    <img [src]="getPrioImagePath('Urgent')" alt="Urgent">
                </button>

                <button (click)="changePriority('Medium')" [class.active]="isPriorityActive('Medium')">
                    Medium
                    <img [src]="getPrioImagePath('Medium')" alt="Medium">
                </button>

                <button (click)="changePriority('Low')" [class.active]="isPriorityActive('Low')">
                    Low
                    <img [src]="getPrioImagePath('Low')" alt="Low">
                </button>
            </div>
        </div>

        <div class="assignment-container">
            <p>Assigned to</p>
            <div class="dropdown">
                <input type="text" (input)="filterContacts($event)" (click)="openDropdown($event)"
                    placeholder="Search contacts..." [(ngModel)]="searchTerm" class="dropdown-input">
                @if (dropdownOpen) {

                <div class="dropdown-content">
                    @for (contact of filteredContacts; track $index) {
                    <label>
                        <div class="initials-circle bg-{{contact.styleSelector}}">
                            {{contact.initials}}
                        </div>
                        {{ contact.name }}
                        <input type="checkbox" [checked]="previewTask.contacts!.includes(contact.id!)"
                            (click)="$event.stopPropagation()" (change)="toggleContactAssignment(contact.id!)">

                    </label>
                    @if (filteredContacts.length == 0) {
                    <p class="no-result">No contacts found</p>
                    }
                    }
                </div>
                }
            </div>
            <div class="assigned-list">
                @for (taskContact of previewTask.contacts; track $index) {
                    @for (contact of contacts; track $index) {
                        @if (taskContact == contact.id) {

                        <div class="initials-circle bg-{{contact.styleSelector}}">
                            {{contact.initials}}
                        </div>

                        }
                    }
                }
            </div>
        </div>
        <div class="subtask-container">
            <p>Subtasks</p>
            <div class="input-container">
                <input class="full-width" type="text" (keydown.enter)="addSubtask()" placeholder="Add new subtask" [(ngModel)]="subtaskTerm"
                    (ngModelChange)="this.cdRef.detectChanges();">
                <img (click)="addSubtask()" class="icon" src="../../../../assets/img/icons/AddIcon.png"
                    alt="Add Subtask Icon">

            </div>
        </div>
        <ul class="subtask-list-container">
            @for (subtask of previewTask.subtasks; track $index) {
            <div>
                @if (editingSubtasks.get(subtask.subtaskName)) {
                <div class="subtask-edit-input-container">
                    <input [(ngModel)]="subtask.subtaskName" class="subtask-edit-input">
                    <div class="subtask-icon-container">
                        <img (click)="saveSubtaskEdit(subtask.subtaskName)"
                            src="./assets/img/icons/checkIconBlack.png" alt="Save">
                        <div class="line"></div>
                        <img (click)="cancelSubtaskEdit(subtask.subtaskName)" src="./assets/img/icons/CloseIcon.png"
                            alt="Cancel">
                    </div>
                </div>
                } @else {
                <span>{{subtask.subtaskName}}</span>

                <div class="subtask-icon-container">
                    <img (click)="startEditingSubtask(subtask.subtaskName)" src="./assets/img/editIcon.png" alt="Edit">

                    <div class="line"></div>

                    <img (click)="deleteSubTask(subtask.subtaskName)" src="./assets/img/trash.png" alt="Delete">
                </div>
                }
            </div>
            }
        </ul>
    </section>
    <button class="button-dark-bg" (click)="editTask(true)">OK<img src="./assets/img/icons/checkIcon.png"
            alt=""></button>
    }
</main>