@use "../../styles/mixins.scss" as *;
@use "../../../styles.scss" as *;

main {
  @include standard-flex(flex-start, flex-start);
  flex-direction: column;
  padding: 9rem 8rem 3rem 8rem;
  max-height: calc(67vh);
  overflow: auto;
  @media (max-width: 1000px) {
    padding: 6rem 6rem 2rem 4rem;
    @media (max-width: 500px) {
      padding: 2rem;
    }
  }
  h1 {
    word-break: break-word;
    margin-bottom: 4rem;
    font-weight: bolder;
    font-size: 5rem;
    @media (max-width: 1000px) {
      margin-bottom: 2rem;
      font-size: 3rem !important;
    }
    @media (max-width: 610px) {
      font-size: 2rem !important;
    }
    @media (max-width: 380px) {
      font-size: 1.5rem !important;
    }
  }

  .description {
    @include standard-flex(center, flex-start);
    flex-direction: column;
    li {
      word-break: break-word;
      font-family: "Inter" !important;
    }
    h2 {
      word-break: break-word;
      margin-top: 1rem;
      font-weight: bold;
      font-size: 2.2rem;
      @media (max-width: 1000px) {
        font-size: 1.6rem !important;
      }
      @media (max-width: 610px) {
        font-size: 1.2rem !important;
      }
    }
    h3 {
      word-break: break-word;
      margin-top: 1rem;
      font-weight: bold;
      font-size: 1.2;
    }
    span {
      word-break: break-word;
      color: #29abe2;
      font-family: "Inter" !important;
      @media(max-width: 520px) {
        font-size: 0.8rem;
      }
    }
    p {
      word-break: break-word;
      font-family: "Inter" !important;
    }
  }
}
