@use "../../styles/mixins.scss" as *;
@use "../../../styles.scss" as *;

main {
  @include standard-flex(flex-start, flex-start);
  flex-direction: column;
  padding: 3rem;
  padding-top: 9rem;
  padding-left: 8rem;
  padding-right: 8rem;
  max-height: calc(67vh);
  overflow: auto;
  @media (max-width: 1000px) {
    padding: 2rem;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 6rem;
    @media (max-width: 500px) {
      padding: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    }
  }
  h1 {
    margin-bottom: 4rem;
    font-weight: bolder;
    font-size: 5rem;
    @media (max-width: 1000px) {
      margin-bottom: 2rem;
      font-size: 3rem !important;
    }
    @media (max-width: 610px) {
      margin-bottom: 1rem;
      font-size: 2rem !important;
    }
    @media (max-width: 380px) {
      font-size: 1.5rem !important;
    }
  }

  .description {
    @include standard-flex(center, flex-start);
    flex-direction: column;
    li {
      font-family: "Inter" !important;
    }
    h2 {
      margin-top: 1rem;
      font-weight: bold;
      font-size: 2.2rem;
      @media (max-width: 1000px) {
        font-size: 1.6rem !important;
      }
      @media (max-width: 610px) {
        font-size: 1.2rem !important;
      }
    }
    h3 {
      margin-top: 1rem;
      font-weight: bold;
      font-size: 1.2;
    }
    span {
      color: #29abe2;
      font-family: "Inter" !important;
      @media(max-width: 520px) {
        font-size: 0.8rem;
      }
    }
    p {
      font-family: "Inter" !important;
    }
  }
}
