<main>
    <section class="logo-section">
        <div class="close-container-mobile" (click)="dialogRef.close()">
            <img src="./assets/img/icons/CloseIconWhite.png">
        </div>
        <img class="dialog-logo" src="./assets/img/icons/joinLogoSmallWhite.png" alt="">
        <h2>Add contact</h2>
        <span>Tasks are better with a team!</span>
        <div class="line"></div>
    </section>

    <section class="initials-section">
        <div>
            <img src="./assets/img/icons/PersonIcon.png" alt="personIcon">
        </div>
    </section>

    <section class="edit-section">
        <div class="close-container" (click)="dialogRef.close()">
            <img src="./assets/img/icons/CloseIcon.png">
        </div>
        @if (sendForm) {
            <div class="confirmation">
                <h2>Added Contact</h2>
                window will close automatically
            </div>
        }@else {
        <form class="forms" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <div class="input-container">
                <input #name="ngModel" [(ngModel)]="contact.name" type="text" id="name" name="name" placeholder="name"
                    required>
                <img class="icon" src="./assets/img/icons/PersonIcon.png" alt="personIcon">

            </div>
            @if (!name.valid && name.touched && !name.disabled) {
            <span>missing name</span>
            }
            <div class="input-container">
                <input #email="ngModel" [(ngModel)]="contact.eMail" type="email" id="email" name="email"
                    placeholder="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <img class="icon" src="./assets/img/icons/MailIcon.png" alt="mailIcon">

            </div>
            @if (!email.valid && email.touched && !email.disabled) {
            <span>missing or invalid email</span>
            }
            <div class="input-container">
                <input #phone="ngModel" [(ngModel)]="contact.phone" type="number" id="phone" name="phone"
                    placeholder="phone number" required>
                <img class="icon" src="./assets/img/icons/PhoneIcon.png" alt="phoneIcon">


            </div>
            @if (!phone.valid && phone.touched && !phone.disabled) {
            <span>missing phone number</span>
            }
            <div class="confirmation-buttons">
                <button class="button-bright-bg" (click)="dialogRef.close()">Cancel</button>
                <button class="button-dark-bg" type="submit" [disabled]="contactForm.invalid">Senden</button>
            </div>
            <div class="confirmation-button-mobile">
                <button class="button-dark-bg" type="submit" [disabled]="contactForm.invalid">Create contact</button>
            </div>
        </form>
        }
    </section>

</main>