/* You can add global styles to this file, and also import other style files */
@use './app/styles/mixins.scss' as *;

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v18-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
  font: 400 14px/20px "Inter", sans-serif !important;
  letter-spacing: unset;
}

.mat-dialog-container {
  border-radius: 16px !important;
}



// Falls nötig, auch für den body:
body {
  margin: 0;
  font: 400 16px/20px "Inter", sans-serif !important;

}


html,
body {
  height: 100%;
  overflow-x: hidden;

  @media (max-width: 800px) {
    font-size: 12px;
  }

  @media (max-width: 550px) {
    font-size: 8px;
  }
}

h1 {
  font-size: 4rem !important;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #29abe2;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

$standardColor: #2A3647;
$customBlue: #29abe2;


@mixin standardButton() {
  width: 4em;
  aspect-ratio: 2;
  border: 1px solid $standardColor;
  border-radius: 12px;
  font-size: 1.75rem
}

.button-bright-bg {
  @include standardButton();

  &:hover {
    cursor: pointer;
    border-color: $customBlue;
    color: $customBlue;
    filter: drop-shadow(2px 2px 2px rgba($color: #000000, $alpha: 0.2))
  }
}

.button-dark-bg {
  @include standardButton();
  background-color: $standardColor;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: $customBlue;
    filter: drop-shadow(2px 2px 2px rgba($color: #000000, $alpha: 0.2))
  }
}

.dialog-logo {
  width: 4rem;
  aspect-ratio: 0.9;
}

.initials-circle {
  border: 1px solid white;
  font-size: 2rem;
  color: white;
  border-radius: 100%;
  width: 8rem;
  aspect-ratio: 1;
  background-color: var(--initialsBg);
  @include standard-flex();
}

/** Dialog Window */

.custom-overlay-container {
  position: fixed;
  top: 3vh;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;

  @media (min-width: 801px) {
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 800px) {
    justify-content: center;
    align-items: center;
    top: 0;
  }
}

.custom-overlay-container>* {
  background: white;
  border-radius: 2rem;
  width: 85%;
  height: 80vh;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease-out forwards;
}

// Standard-Animation (Desktop: Slide von rechts)
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// Animation für Mobile
@media (max-width: 800px) {
  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

// .custom-dialog-container {
//   animation: slideInRight 0.4s ease-out forwards;
// }

// .custom-dialog-container-exit {
//   animation: slideOutRight 0.4s ease-in forwards;
// }


/** initials-circles: backgroundcolors*/

  .bg-a {
    background-color: #d6d4be;
  }

  .bg-b {
    background-color: #FA9E21;
  }

  .bg-c {
    background-color: #F58D80;
  }

  .bg-d {
    background-color: #ED3094;
  }

  .bg-e {
    background-color: #498FCA;
  }

  .bg-f {
    background-color: #8C76B7;
  }

  .bg-g {
    background-color: #159876;
  }

  .bg-h {
    background-color: #1F5730;
  }

  .bg-i {
    background-color: #C4986B;
  }

  .bg-j {
    background-color: #C4986B;
  }

  .bg-k {
    background-color: #d6d6d6;
  }

  .bg-l {
    background-color: #FCDD08;
  }

  .bg-m {
    background-color: #EB4225;
  }

  .bg-n {
    background-color: #F6A7C6;
  }

  .bg-o {
    background-color: #9E3391;
  }

  .bg-p {
    background-color: #29398E;
  }

  .bg-q {
    background-color: #A6DDE0;
  }

  .bg-r {
    background-color: #77C265;
  }

  .bg-s {
    background-color: #96CA41;
  }

  .bg-t {
    background-color: #966F46;
  }

  .bg-u {
    background-color: #808185;
  }

  .bg-v {
    background-color: #EC8A27;
  }

  .bg-w {
    background-color: #A51D33;
  }

  .bg-x {
    background-color: #A51D33;
  }

  .bg-y {
    background-color: #70164A;
  }

  .bg-z {
    background-color: #5178BD;
  }

  .bg-ä {
    background-color: #10AEAD;
  }

  .bg-ö {
    background-color: #3F9B46;
  }

  .bg-ü {
    background-color: #D5E4A9;
  }

  .bg-default {
    background-color: #b17d1d;
  }

  /** Task category background */

  

 
