/* You can add global styles to this file, and also import other style files */
@use './app/styles/mixins.scss' as *;

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/inter-v18-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
  font: 400 14px/20px "Inter", sans-serif !important;
}

.mat-dialog-container {
    border-radius: 16px !important;
  }



// Falls nötig, auch für den body:
body {
    margin: 0;
  font: 400 16px/20px "Inter", sans-serif !important;

}


html,
body {
    height: 100%;
    @media (max-width: 800px) {
      font-size: 12px;
    }

    @media (max-width: 550px) {
      font-size: 8px;
    }
}

h1 {
    font-size: 4rem !important;
    margin: 0;
}
h2 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    margin: 0;
}

a {
  color: #29abe2;
  text-decoration: none;

  &:hover {
      cursor: pointer;
      text-decoration: underline;
  }
}

$standardColor: #2A3647;
$customBlue: #29abe2;


@mixin standardButton() {
    width: 4em;
    aspect-ratio: 2;
    border: 1px solid $standardColor;
    border-radius: 12px;
    font-size: 1.75rem
}

.button-bright-bg {
    @include standardButton();

    &:hover {
        cursor: pointer;
        border-color: $customBlue;
        color: $customBlue;
        filter: drop-shadow(2px 2px 2px rgba($color: #000000, $alpha: 0.2))
    }
}

.button-dark-bg {
    @include standardButton();
    background-color: $standardColor;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: $customBlue;
        filter: drop-shadow(2px 2px 2px rgba($color: #000000, $alpha: 0.2))
    }
}

.dialog-logo {
    width: 4rem;
    aspect-ratio: 0.9;
}

.initials-circle {
    border: 1px solid white;
    font-size: 2rem;
    color: white;
    border-radius: 100%;
    width: 8rem;
    aspect-ratio: 1;
    background-color: var(--initialsBg);
    @include standard-flex();
}
  
  .custom-dialog-container {
    animation: slideInRight 0.4s ease-out forwards;
  }
  
  .custom-dialog-container-exit {
    animation: slideOutRight 0.4s ease-in forwards;
  }
  

  /** initials-circles: backgroundcolors*/

  .bg_a {
    background-color: #d6d4be;
  }

  .bg_b {
    background-color: #FA9E21;
  }

  .bg_c {
    background-color: #F58D80;
  }

  .bg_d {
    background-color: #ED3094;
  }

  .bg_e {
    background-color: #498FCA;
  }

  .bg_f {
    background-color: #8C76B7;
  }

  .bg_g {
    background-color: #159876;
  }

  .bg_h {
    background-color: #1F5730;
  }

  .bg_i {
    background-color: #C4986B;
  }

  .bg_j {
    background-color: #C4986B;
  }

  .bg_k {
    background-color: #d6d6d6;
  }

  .bg_l {
    background-color: #FCDD08;
  }

  .bg_m {
    background-color: #EB4225;
  }

  .bg_n {
    background-color: #F6A7C6;
  }

  .bg_o {
    background-color: #9E3391;
  }

  .bg_p {
    background-color: #29398E;
  }

  .bg_q {
    background-color: #A6DDE0;
  }

  .bg_r {
    background-color: #77C265;
  }

  .bg_s {
    background-color: #96CA41;
  }

  .bg_t {
    background-color: #966F46;
  }

  .bg_u {
    background-color: #808185;
  }

  .bg_v {
    background-color: #EC8A27;
  }

  .bg_w {
    background-color: #A51D33;
  }

  .bg_x {
    background-color: #A51D33;
  }

  .bg_y {
    background-color: #70164A;
  }

  .bg_z {
    background-color: #5178BD;
  }

  .bg_ä {
    background-color: #10AEAD;
  }

  .bg_ö {
    background-color: #3F9B46;
  }

  .bg_ü {
    background-color: #D5E4A9;
  }

  .bg_default {
    background-color: #b17d1d;
  }
