@use '../../../styles/mixins.scss' as *;


main {
    width: 80vw;
    aspect-ratio: 1.9;


    @include standard-flex();

    .logo-section {
        background-color: #2A3647;
        width: 35%;
        height: 100%;
        @include standard-flex(center, start);
        flex-direction: column;
        gap: 4rem;
        padding-left: 2rem;

        >h2 {
            font-size: 4vw;
            color: white;

            >span {
                text-decoration: underline;
                text-decoration-color: #29abe2;
                text-decoration-thickness: 2px;
                text-underline-offset: 1rem;
            }
        }
    }

    .initials-section {
        width: 15%;
        height: 100%;
        @include standard-flex();
    }

    .edit-section {
        width: 50%;
        height: 100%;
        @include standard-flex();
        flex-direction: column;
        gap: 2rem;

        >button {
            margin-right: 4rem;
            align-self: flex-end;
        }

        .confirmation-buttons {
            display: flex;
            gap: 1rem;
            

        } 

        >div {
            width: 90%;

            
        }

        mat-form-field {
            width: 100%;
        }
    }
}