<main>
    <section class="logo-section">
        <img class="dialog-logo" src="./assets/img/joinLogoSmallWhite.png" alt="">
        <h2><span>Edit</span> contact</h2>
    </section>
    <section class="initials-section">
        <div class="initials-circle">
            {{contact.initials}}
        </div>
    </section>
    <section class="edit-section">
        <button (click)="dialogRef.close()">x</button>
        <div>
            <div>
                <mat-form-field>
                    <input [(ngModel)]="contact.name" matInput placeholder="eMail">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input [(ngModel)]="contact.eMail" matInput placeholder="eMail">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input [(ngModel)]="contact.phone" matInput placeholder="eMail">
                </mat-form-field>
            </div>
        </div>
        <div class="confirmation-buttons">
            <button class="button-bright-bg" (click)="deleteContact()">Delete</button>
            <button class="button-dark-bg" (click)="saveContactInfo()" cdkFocusInitial>Save</button>
        </div>
    </section>
    
</main>

