@use '../../../styles/mixins.scss' as *;

main {
    width: 80vw;
    aspect-ratio: 2;
    border-radius: 50%;

    @include standard-flex();

    .logo-section {
        background-color: #2A3647;
        width: 35%;
        height: 100%;
        @include standard-flex(center, start);
        flex-direction: column;
        gap: 2rem;
        padding-left: 2rem;

        >h2 {
            font-size: 3rem;
            color: white;

            >span {
                text-decoration: underline;
                text-decoration-color: #29abe2;
                text-decoration-thickness: 2px;
                text-underline-offset: 1rem;
            }
        }
    }

    .initials-section {
        width: 15%;
        height: 100%;
        @include standard-flex();
    }

    .edit-section {
        width: 50%;
        height: 100%;
        @include standard-flex();
        flex-direction: column;

        .confirmation-buttons {
            display: flex;
            gap: 1rem;
        } 

        >div {
            width: 90%;

            
        }

        mat-form-field {
            width: 100%;
        }
    }
}